defaults/flow.json
[{"id":"f5ac9b477855521d","type":"tab","label":"KeepAlive","disabled":false,"info":"","env":[]},{"id":"6b5c62199458cfc7","type":"inject","z":"f5ac9b477855521d","name":"ping node-red","props":[{"p":"payload"},{"p":"url","v":"RENDER_EXTERNAL_URL","vt":"env"}],"repeat":"300","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":180,"wires":[["e9a8591b9875ea24"]]},{"id":"e9a8591b9875ea24","type":"http request","z":"f5ac9b477855521d","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":330,"y":180,"wires":[["54c0472ca1bdffb0"]]},{"id":"54c0472ca1bdffb0","type":"debug","z":"f5ac9b477855521d","name":"Statuscode","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"statusCode","targetType":"msg","statusVal":"","statusType":"auto","x":510,"y":180,"wires":[]}]